@model ESapViaPago

@{
    ViewData["Title"] = "Captura";
}

<form asp-action="_SapViaPagoCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="ViewBag.Reglas" xpnl-readonly="@ViewBag.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapViaPagoTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapViaPagoId" mval-accion="@ViewBag.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapViaPagoNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(ViewBag.Accion == MAccionesGen.Inserta ? nameof(SapViasPagoController.SapViaPagoInserta) : nameof(SapViasPagoController.SapViaPagoActualiza))"
                    xvalidate="@nameof(ESapViaPago)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapViasPagoController.SapViaPagoCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
