@model EIdentificacion

@{
    ViewData["Title"] = "Captura";
    EVIdentificaciones EV = ViewBag.EV;
}

<form asp-action="_IdentificacionCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.Identificacion.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._IdentificacionTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="IdentificacionId" xval-enabled="false"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="IdentificacionNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(IdentificacionesController.IdentificacionInserta) : nameof(IdentificacionesController.IdentificacionActualiza))"
                    xvalidate="@nameof(EIdentificacion)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(IdentificacionesController.IdentificacionCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
