@model List<ESapCondicionPago>
@{
    ViewData["Title"] = "Consulta";
    EVSapCondicionesPago EV = ViewBag.EV;
}
<div mpanel="Display" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapCondicionPago.Reglas">
    <div msub-panel="ConTitulo">
        @MensajesXId._SapCondicionPagoTitCon
    </div>
    <div msub-panel="ConFiltro">
        <partial name="_SapCondicionPagoFiltra" model="@EV.SapCondicionPago.Filtro" view-data="ViewData" />
    </div>
    <div msub-panel="ConDatos">
        <table melemento="ConTabla" xsort-action="@nameof(SapCondicionesPagoController.SapCondicionPagoOrdena)" 
            xsort-current="@EV.SapCondicionPago.ColOrden">
            <thead melemento="ConTablaEnc">
                <tr>
                    <th></th>
                    <th>
                        <span mhead-for="@nameof(ESapCondicionPago.Activo)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapCondicionPago.SapCondicionPagoId)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapCondicionPago.SapCondicionPagoNombre)" xhead-sort="true"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        String vDivAcciones = "divPanelAcciones" + i.ToString();
                        <tr class="@(EV.SapCondicionPago.Indice == i ? "conTablaLinSel" : null)">
                            <td nowrap>
                                <a maccion="IniciaActualiza" asp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoActualizaIni)" asp-route-indice="@i"></a>
                                <div msub-panel="ConAccionesXReg" id="@vDivAcciones">
                                    <a maccion="ConsultaXIdList" asp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoXId)" asp-route-indice="@i"></a>
                                    <a maccion="EliminaList" asp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoElimina)" asp-route-indice="@i"></a>
                                </div>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Activo"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapCondicionPagoId"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapCondicionPagoNombre"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div msub-panel="ConPaginador">
        <div mdata-pager="@EV.SapCondicionPago.Pag?.DatPag" xdp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoPaginacion)"></div>
    </div>
    <div msub-panel="ConAccionesGen">
        <a maccion="IniciaInserta" asp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoInsertaIni)" asp-route-indice="-1"></a>
        &nbsp;
        <a maccion="General" asp-action="@nameof(SapCondicionesPagoController.SapCondicionPagoExporta)" download="" >@MMensajesXId.Exportar</a>
        &nbsp;
    </div>
</div>
