@model ESapBanco

@{
    ViewData["Title"] = "Captura";
    EVSapBancos EV = ViewBag.EV;
}

<form asp-action="_SapBancoCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapBanco.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapBancoTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapBancoId" mval-accion="@EV.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapBancoNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(SapBancosController.SapBancoInserta) : nameof(SapBancosController.SapBancoActualiza))"
                    xvalidate="@nameof(ESapBanco)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapBancosController.SapBancoCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
