@model EAutorizacion

@{
    ViewData["Title"] = "Captura";
    EVAutorizaciones EV = ViewBag.EV;
}

<form asp-action="_AutorizacionCaptura">
    <div mpanel="Edit" mpnl-mensajes="@ViewBag.Mensajes" xpnl-rules="@EV.Autorizacion.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._AutorizacionTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="3">
                    <input mval="Model" xval-for="AutorizacionId" xval-enabled="false"/>
                </div>
                <div melemento="CapCol" melem-cols="3">
                    <input mval="Model" xval-for="AutorizacionNombre"/>
                </div>
                <div melemento="CapCol" melem-cols="3">
                    <select mval="Model" xval-for="ProcesoOperativoId" xval-items="ViewBag.ProcesosOperativos"></select>
                </div>
                <div melemento="CapCol" melem-cols="3">
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(AutorizacionesController.AutorizacionInserta) : nameof(AutorizacionesController.AutorizacionActualiza))"
                    xvalidate="@nameof(EAutorizacion)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(AutorizacionesController.AutorizacionCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
