@model ESapCuentaAsociada

@{
    ViewData["Title"] = "Captura";
    EVSapCuentasAsociadas EV = ViewBag.EV;
}

<form asp-action="_SapCuentaAsociadaCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapCuentaAsociada.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapCuentaAsociadaTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapCuentaAsociadaId" mval-accion="@EV.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapCuentaAsociadaNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(SapCuentasAsociadasController.SapCuentaAsociadaInserta) : nameof(SapCuentasAsociadasController.SapCuentaAsociadaActualiza))"
                    xvalidate="@nameof(ESapCuentaAsociada)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapCuentasAsociadasController.SapCuentaAsociadaCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
