@using Rediin2022.Entidades.PriClientes

@model EProveedorMontePio
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <div class="inputTamanio">
                    <div class="form-floating mb-3 mt-3">
                        <input class="InputLinea form-control" xval="Model" xval-for="@Model.ContactoNombre" placeholder="Nombre" />
                        <label for="Nombre">Nombre del contacto</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputTamanio">
                    <div class="form-floating mb-3 mt-3">
                        <input class="InputLinea form-control" xval="Model" xval-for="@Model.ContactoCorreoElectronico" placeholder="Correo" />
                        <label for="Correo">Correo electrónico</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="inputTamanio">
                    <div class="form-floating mb-3 mt-3">
                        <input class="InputLinea form-control" xval="Model" xval-for="@Model.ContactoTelefono" placeholder="Telefono" />
                        <label for="Telefono">Teléfono</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputTamanio">
                    <div class="form-floating mb-3 mt-3">
                        <input class="InputLinea form-control" xval="Model" xval-for="@Model.ContactoCelular" placeholder="Celular" />
                        <label for="Celular">Celular</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-sm btn-primary Boton" xvisible="@ViewBag.EsCaptura">Guardar</button>
                <button type="submit" class="btn btn-sm btn-primary Boton" xvisible="@ViewBag.EsCaptura" asp-action="@nameof(ProveedoresController.RevisionExpediente)">Solicita revisión de expediente</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>