@model List<EConExpedienteObjeto>
@{
	ViewData["Title"] = "Consulta";
    EVConExpedientes EV = ViewBag.EV;
}



<div class="row">
	<div class="col-md-3">
		<div class="sidenav">
			<div id="loader"></div>
			<h2 style="padding-left:15px">Files</h2>
			@for (int i = 0; i < Model.Count(); i++)
			{
				<a href="#" onclick="ViewDocument('@i')">@Model[i].ArchivoNombre</a>
			}
		</div>
	</div>
	<div class="col-md-9">
		<h2>Preview</h2>
		<div id="content" style="border:solid 1px black;width:400px;height:200px;overflow:scroll"></div>
	</div>
</div>


<div mpanel="Display" mpnl-mensajes="@ViewBag.Mensajes" xpnl-rules="@EV.ConExpedienteObjeto.Reglas">
	<div msub-panel="ConTitulo">
		@MensajesXId._ConExpedienteObjetoTitCon
	</div>
	<div msub-panel="ConFiltro">
		<partial name="_ConExpedienteObjetoFiltra" model="@EV.ConExpedienteObjeto.Filtro" view-data="ViewData" />
	</div>
	<div msub-panel="ConDatos">
		<table melemento="ConTabla" xsort-action="@nameof(ConExpedientesController.ConExpedienteObjetoOrdena)" 
            xsort-current="@EV.ConExpedienteObjeto.ColOrden">
			<thead melemento="ConTablaEnc">
				<tr>
					<th></th>
					<th>
						<span mhead-for="@nameof(EConExpedienteObjeto.Orden)" xhead-align="Center" xhead-sort="true"></span>
					</th>
					<th>
						<span mhead-for="@nameof(EConExpedienteObjeto.ProcesoOperativoObjetoNombre)" xhead-sort="true"></span>
					</th>
					<th>
						<span mhead-for="@nameof(EConExpedienteObjeto.ArchivoVencido)" xhead-label="_"></span>
					</th>
					<th>
						<span mhead-for="@nameof(EConExpedienteObjeto.ArchivoNombre)" xhead-sort="true"></span>
					</th>
					<th>
						<span mhead-for="@nameof(EConExpedienteObjeto.FechaUltMod)" xhead-sort="true"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null)
				{
					for (int i = 0; i < Model.Count(); i++)
					{
						String vDivAcciones = "divPanelAcciones" + i.ToString();
						<tr class="@(EV.ConExpedienteObjeto.Indice == i ? "conTablaLinSel" : null)">
							<td nowrap>
								<div msub-panel="ConAccionesXReg" id="@vDivAcciones">
									<a maccion="ConsultaXIdList" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoXId)" asp-route-indice="@i"></a>
									<a maccion="EliminaList" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoElimina)" asp-route-indice="@i"></a>
								</div>
							</td>
							<td>
								<span mcell-for="@Model[i].Orden" xcell-align="Center"></span>
							</td>
							<td>
								<span mcell-for="@Model[i].ProcesoOperativoObjetoNombre" xcell-first="40"></span>
							</td>
							<td>
								<span mcell-for="@Model[i].ArchivoVencido" style="color:red"></span>
							</td>
							<td style="text-align:left">
								@if (String.IsNullOrWhiteSpace(Model[i].ArchivoNombre))
								{
									<a asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoSelArchivoIni)" asp-route-indice="@i" style="color:blue">Agregar archivo</a>
								}
								else
								{
									<a asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoDescarga)" asp-route-indice="@i" title="Descargar">
										<span mcell-for="@Model[i].ArchivoNombre" xcell-first="30" style="color:blue"></span>
									</a>
								}
							</td>
							<td>
								<span mcell-for="@Model[i].FechaUltMod" xcell-format="dd/MM/yyyy HH:mm"></span>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
	<div msub-panel="ConPaginador">
		<div mdata-pager="@EV.ConExpedienteObjeto.Pag?.DatPag" xdp-action="@nameof(ConExpedientesController.ConExpedienteObjetoPaginacion)"></div>
	</div>
	<div msub-panel="ConAccionesGen">
		<a maccion="IniciaInserta" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoInsertaIni)" asp-route-indice="-1"></a>
		&nbsp;
		<a maccion="Regresa" asp-action="@nameof(ConExpedientesController.ConExpedienteInicia)" asp-route-indice="-1"></a>
	</div>
</div>
@if (ViewBag.SelArchivo ?? false == true)
{
	EConExpedienteObjetoSelArchivo vConExpedienteObjetoSelArchivo = ViewBag.ConExpedienteObjetoSelArchivo;
	<div id="mdlAcciones" mmodal="true">
		<form asp-action="_ConExpedienteObjetoSelArchivo" enctype="multipart/form-data">
			<div mpanel="Edit" mpnl-mensajes="@ViewBag.SEARMensajes">
				<div msub-panel="CapTitulo">
					@MensajesXId._ConExpedienteObjetoSelArchivoTitCap
				</div>
				<div msub-panel="CapDatos">
					<div melemento="CapLin">
						<div melemento="CapCol" melem-cols="6">
							<input mval="Model" xval-for="@vConExpedienteObjetoSelArchivo.ExpedienteObjetoId" xval-enabled="false" xval-group="SelArchivo" />
						</div>
						<div melemento="CapCol" melem-cols="6">
						</div>
					</div>
					<div melemento="CapLin">
						<div melemento="CapCol" melem-cols="6">
							<input mval="Model" xval-for="@vConExpedienteObjetoSelArchivo.ArchivoNombre" xval-min="2" xval-max="200" xval-req="false" xval-group="SelArchivo" />
						</div>
						<div melemento="CapCol" melem-cols="6">
							<input type="file" id="ArchivoFisico" mval="Text" xval-req="true"
							   xval-min="1" xval-max="1000" xval-group="EConExpedienteObjeto" />
						</div>
					</div>
				</div>
				<div msub-panel="CapAccionesGen">
					<button maccion="Guarda"
						asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoSelArchivo)"
						xvalidate="SelArchivo"></button>
					&nbsp;
					<button type="button" maccion="Regresa" onclick="xfModal('mdlAcciones', false)"></button>
				</div>
			</div>
		</form>
	</div>
}

@section Scripts {
	<script src="~/PriOperacion/ConExpedientes/ConExpedienteObjeto.js" asp-append-version="true"></script>
	<script src="~/PriCatalogos/ProcesosOperativos/ProcesoOperativoCol.js" asp-append-version="true"></script>
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$("#loader").fadeOut(1000);
		});
	</script>
}
