@model ESapGrupoTolerancia

@{
    ViewData["Title"] = "Captura";
    EVSapGruposTolerancia EV = ViewBag.EV;
}

<form asp-action="_SapGrupoToleranciaCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapGrupoTolerancia.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapGrupoToleranciaTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapGrupoToleranciaId" mval-accion="@EV.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapGrupoToleranciaNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(SapGruposToleranciaController.SapGrupoToleranciaInserta) : nameof(SapGruposToleranciaController.SapGrupoToleranciaActualiza))"
                    xvalidate="@nameof(ESapGrupoTolerancia)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
