@model ESapGrupoTesoreria

@{
    ViewData["Title"] = "Captura";
    EVSapGruposTesoreria EV = ViewBag.EV;
}

<form asp-action="_SapGrupoTesoreriaCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapGrupoTesoreria.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapGrupoTesoreriaTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapGrupoTesoreriaId" mval-accion="@EV.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapGrupoTesoreriaNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(SapGruposTesoreriaController.SapGrupoTesoreriaInserta) : nameof(SapGruposTesoreriaController.SapGrupoTesoreriaActualiza))"
                    xvalidate="@nameof(ESapGrupoTesoreria)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapGruposTesoreriaController.SapGrupoTesoreriaCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
