@using Rediin2022.Entidades.PriClientes

@model EProveedorMedix
<div xpanel="Edit" xpnl-rules="@ViewBag.Reglas" xpnl-readonly="@(!ViewBag.EsCaptura)">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="PaisIdBanco1" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Pais" class="form-select">
                            </select>
                            <label xlabel="PaisIdBanco1" xlbl-value="Pais" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="BancoId1" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Bancos" class="form-select">
                            </select>
                            <label xlabel="BancoId1" xlbl-value="Banco" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Cuenta1" xval-show-message="false" placeholder="Cuenta" />
                            <label xlabel="Cuenta1" xlbl-value="CUENTA" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CuentaClabe1" xval-show-message="false" placeholder="Clabe" />
                            <label xlabel="CuentaClabe1" xlbl-value="CLABE" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="PaisIdBanco2" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Pais" class="form-select">
                            </select>
                            <label xlabel="PaisIdBanco2" xlbl-value="Pais" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="BancoId2" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Bancos" class="form-select">
                            </select>
                            <label xlabel="BancoId2" xlbl-value="Banco" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval-show-message="false" xval="Model" xval-for="Cuenta2" placeholder="Cuenta" />
                            <label xlabel="Cuenta2" xlbl-value="CUENTA" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval-show-message="false" xval="Model" xval-for="CuentaClabe2" placeholder="Clabe" />
                            <label xlabel="CuentaClabe2" xlbl-value="CLABE" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="PaisIdBanco3" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Pais" class="form-select">
                            </select>
                            <label xlabel="PaisIdBanco3" xlbl-value="Pais" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="BancoId3" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Bancos" class="form-select">
                            </select>
                            <label xlabel="BancoId3" xlbl-value="Banco" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Cuenta3" xval-show-message="false" placeholder="Cuenta" />
                            <label xlabel="Cuenta3" xlbl-value="CUENTA" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CuentaClabe3" xval-show-message="false" placeholder="Clabe" />
                            <label xlabel="CuentaClabe3" xlbl-value="CLABE" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>