@using Rediin2022.Entidades.PriCatalogos
@using Rediin2022.Entidades.PriClientes
@using RediinProvMedix2022Mvc.Areas.PriProveedores.Controllers

@model EProveedorMedix

<div xpanel="Edit" xpnl-rules="@ViewBag.Reglas" xpnl-readonly="@(!ViewBag.EsCaptura)">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="NombreORazonSocial" xval-show-message="false" placeholder="Nombre" />
                            <label xlabel="NombreORazonSocial" xlbl-value="Nombre" xlbl-req-show="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="PaisId" xval-show-message="false" xval-group-select="Pais" xval-first-item="Selecciona" xval-items="@ViewBag.Pais" xval-action="@nameof(ProveedoresController.ProveedorActualizaCap)" class="form-select">
                            </select>
                            <label xlabel="PaisId" xlbl-value="Pais" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="EstadoId" xval-show-message="false" xval-group-select="Pais" xval-first-item="Selecciona" xval-items="@ViewBag.Estados" xval-action="@nameof(ProveedoresController.ProveedorActualizaCap)" class="form-select">
                            </select>
                            <label xlabel="EstadoId" xlbl-value="Estado" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Municipio" xval-show-message="false" placeholder="Municipio" />
                            <label xlabel="Municipio" xlbl-value="Alcaldia o Municipio" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Colonia" xval-show-message="false" placeholder="Colonia" />
                            <label xlabel="Colonia" xlbl-value="Colonia" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Calle" xval-show-message="false" placeholder="Calle" />
                            <label xlabel="Calle" xlbl-value="Calle" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Numero" xval-show-message="false" placeholder="Numero" />
                            <label xlabel="Numero" xlbl-value="Numero" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="CodigoPostal" xval-show-message="false" placeholder="Código" />
                            <label xlabel="CodigoPostal" xlbl-value="Código Postal" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Curp" placeholder="Curp" xval-show-message="false" />
                            <label xlabel="Curp" xlbl-value="CURP" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputTamanio">
                        <div class="form-floating mb-3 mt-3">
                            <input class="InputLinea form-control" xval="Model" xval-for="Rfc" xval-show-message="false" placeholder="RFC" />
                            <label xlabel="Rfc" xlbl-value="RFC" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="form-floating mb-4 mt-4">
                            <select xval="Model" xval-for="RegimenFiscalId" xval-show-message="false" xval-first-item="Selecciona" xval-items="@ViewBag.Regimen" class="form-select">
                            </select>
                            <label xlabel="RegimenFiscalId" xlbl-value="Régimen Fiscal" xlbl-req-show="true" xlbl-hide-if-not-visible="true"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>