@using Microsoft.AspNetCore.Html;
@using Rediin2022.Entidades.PriCatalogos
@using Rediin2022.Entidades.PriClientes
@using RediinProvMedix2022Mvc.Areas.PriProveedores.Controllers

@model EProveedorMedix
@{
    String vEstiloBoton1 = "btn btn-sm btn-success botonMenuSel";
    String vEstiloBoton2 = "btn btn-sm btn-primary botonMenu";
    String vEstiloBoton = String.Empty;

    String vDatFisVisible = "display:none";
    String vContactoVisible = "display:none";
    String vDatBanVisible = "display:none";
    String vDocumVisible = "display:none";
    String vAcConVisible = "display:none";
    if (ViewBag.Pagina == 0)
    {
        vDatFisVisible = String.Empty;
    }
    else if (ViewBag.Pagina == 1)
    {
        vContactoVisible = String.Empty;
    }
    else if (ViewBag.Pagina == 2)
    {
        vDatBanVisible = String.Empty;
    }
    else if (ViewBag.Pagina == 3)
    {
        vDocumVisible = String.Empty;
    }
    else if (ViewBag.Pagina == 4)
    {
        vAcConVisible = String.Empty;
    }
}
<div xpanel="Edit" xpnl-rules="@ViewBag.Reglas" xpnl-messages="@ViewBag.Mensajes" xpnl-messages-title="Mensajes"
     xpnl-messages-class="panelCapMensajes"
     xpnl-messages-title-class="panelCapMensajesTit"
     xpnl-messages-ok-class="panelCapMensajesOk"
     xpnl-messages-error-class="panelCapMensajesError"
     xpnl-messages-iderror="panelCapMensajesErrorId">
    <form asp-action="_CapturaExpediente">
        <input type="hidden" value="@ViewBag.Pagina" name="Pagina" />
        <input xhidden-for="ProcesoOperativoId" />
        <input xhidden-for="ExpedienteId" />
        <input xhidden-for="ProcesoOperativoEstId" />
        <input xhidden-for="EstatusNombre" />
        <input xhidden-for="Comentarios" />
        <input xhidden-for="UsuarioId" />
        <input xhidden-for="ProveedorId" />
        <input xhidden-for="ModeloId" />
        <input xhidden-for="SapSociedadId" />
        <input xhidden-for="SapOrganizacionCompraId" />
        <input xhidden-for="MonedaId" />
        <input xhidden-for="SapCondicionPagoId" />
        <input xhidden-for="IncotermId" />
        <input xhidden-for="Destino" />
        <input xhidden-for="Busqueda1" />
        <input xhidden-for="Busqueda2" />
        <input xhidden-for="ProveedorIdAnt" />
        @* <input xhidden-for="TipoCaptura" /> *@
        <input type="hidden" value="@((Int32)Model.TipoCaptura)" id="TipoCaptura" name="TipoCaptura" />

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row" style="font-weight:bold">
                    <div class="col-md-5 tamanioLetras">
                        <span class="colorTextoAzul">Razón social</span><br />
                        @Model.NombreORazonSocial<br />
                        @Model.Rfc &nbsp; &nbsp; &nbsp; &nbsp;  No. de proveedor: @Model.ProveedorId
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <h6 class="tamanioLetras textoAlineadoDer" style="font-weight:bold">Estatus: @Model.EstatusNombre</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        @{
                            vEstiloBoton = (ViewBag.Pagina == 0 ? vEstiloBoton1 : vEstiloBoton2);
                        }
                        <button type="submit" class="@vEstiloBoton" asp-action="@nameof(ProveedoresController.ProveedorActualizaCap)" asp-route-pagina="0">Datos Fiscales</button>
                    </div>
                    <div class="col-md-2">
                        @{
                            vEstiloBoton = (ViewBag.Pagina == 1 ? vEstiloBoton1 : vEstiloBoton2);
                        }
                        <button type="submit" class="@vEstiloBoton" asp-action="@nameof(ProveedoresController.ProveedorActualizaCap)" asp-route-pagina="1">Vendedor</button>
                    </div>
                    <div class="col-md-2">
                        @{
                            vEstiloBoton = (ViewBag.Pagina == 2 ? vEstiloBoton1 : vEstiloBoton2);
                        }
                        <button type="submit" class="@vEstiloBoton" asp-action="@nameof(ProveedoresController.ProveedorActualizaCap)" asp-route-pagina="2">Datos Bancarios</button>
                    </div>
                    <div class="col-md-2">
                        @{
                            vEstiloBoton = (ViewBag.Pagina == 3 ? vEstiloBoton1 : vEstiloBoton2);
                        }
                        <button type="submit" class="@vEstiloBoton" asp-action="@nameof(ProveedoresController.ProveedorActualizaCap)" asp-route-pagina="3">Documentación</button>
                    </div>
                    @if (Model.TipoCaptura == TipoCaptura.PersonaMoral)
                    {
                        <div class="col-md-2">
                            @{
                                vEstiloBoton = (ViewBag.Pagina == 4 ? vEstiloBoton1 : vEstiloBoton2);
                            }
                            <button type="submit" class="@vEstiloBoton" asp-action="@nameof(ProveedoresController.ProveedorActualizaCap)" asp-route-pagina="4">Acta Constitutiva</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2">
                        </div>
                    }
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="@vDatFisVisible">
                    <partial name="_DatosFiscales" view-data="@ViewData" model="@Model"></partial>
                </div>
                <div style="@vContactoVisible">
                    <partial name="_Vendedor" view-data="@ViewData" model="@Model"></partial>
                </div>
                <div style="@vDatBanVisible">
                    <partial name="_DatosBancarios" view-data="@ViewData" model="@Model"></partial>
                </div>
                <div style="@vDocumVisible">
                    <partial name="_Documentacion" view-data="@ViewData" model="@ViewBag.Documentos"></partial>
                </div>
                @if (Model.TipoCaptura == TipoCaptura.PersonaMoral)
                {
                    <div style="@vAcConVisible">
                        <partial name="_ActaConstitutiva" view-data="@ViewData" model="@Model"></partial>
                    </div>
                }
                @if (ViewBag.Pagina != 3)
                {
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            <button xvalidate="@nameof(EProveedorMedix)" type="submit" class="btn btn-sm btn-primary Boton" xvisible="@ViewBag.EsCaptura" asp-action="@nameof(ProveedoresController.ProveedorActualiza)">Guardar</button>
                            <button type="submit" class="btn btn-sm btn-primary Boton" xvisible="@ViewBag.EsCaptura" asp-action="@nameof(ProveedoresController.RevisionExpediente)">Solicita revisión de expediente</button>
                        </div>
                        <div class="col-md-4" style="text-align:center">
                            @if (ViewBag.Pagina == 4)
                            {
                                <button type="submit" asp-action="@nameof(ProveedoresController.CopiaActaConstitutiva)" class="btn btn-sm btn-primary Boton" xvisible="@ViewBag.EsCaptura">Copiar datos</button>
                            }
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <br />
                    <br />
                }
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Pagina == 0 &&
   (Boolean)ViewBag.EsCaptura &&
   !String.IsNullOrWhiteSpace(@Model.Comentarios))
{
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4 p-5 bg-success text-white rounded">
                <h5>Comentarios.</h5>
                @Model.Comentarios
            </div>
            <br />
        </div>
    </div>
}
<br />
<br />
@if (ViewBag.SubeArchivo ?? false == true)
{
    <div id="divSubeArchivo" class="modalDatos" xmodal="true" xmd-scrb="true" xmd-hauto="false" xmd-adh="100">
        <form asp-action="_SubeArch" enctype="multipart/form-data">
            <div xpanel="Edit" xpnl-messages="@ViewBag.MensajesSA"
                 xpnl-messages-class="panelCapMensajes"
                 xpnl-messages-title-class="panelCapMensajesTit"
                 xpnl-messages-ok-class="panelCapMensajesOk"
                 xpnl-messages-error-class="panelCapMensajesError">
                <div class="row">
                    <div class="col-md-12 alinearCentro">
                        <h3> Subir archivo</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control fileclass" name="archivo" id="Archivo" type="file" title="Subir" /> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 alinearCentro">
                        <button class="btn btn-sm btn-primary Boton" asp-action="@nameof(ProveedoresController.SubeArchivo)" type="submit">Subir Archivo</button>
                        &nbsp;
                        <button class="btn btn-sm btn-primary Boton" type="button" onclick="xfModal('divSubeArchivo', false)">Regresar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}