@model ESapTratamiento

@{
    ViewData["Title"] = "Captura";
}

<form asp-action="_SapTratamientoCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="ViewBag.Reglas" xpnl-readonly="@ViewBag.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapTratamientoTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapTratamientoId" mval-accion="@ViewBag.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapTratamientoNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(ViewBag.Accion == MAccionesGen.Inserta ? nameof(SapTratamientosController.SapTratamientoInserta) : nameof(SapTratamientosController.SapTratamientoActualiza))"
                    xvalidate="@nameof(ESapTratamiento)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapTratamientosController.SapTratamientoCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
