@model List<ESapGrupoTolerancia>
@{
    ViewData["Title"] = "Consulta";
    EVSapGruposTolerancia EV = ViewBag.EV;
}
<div mpanel="Display" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapGrupoTolerancia.Reglas">
    <div msub-panel="ConTitulo">
        @MensajesXId._SapGrupoToleranciaTitCon
    </div>
    <div msub-panel="ConFiltro">
        <partial name="_SapGrupoToleranciaFiltra" model="@EV.SapGrupoTolerancia.Filtro" view-data="ViewData" />
    </div>
    <div msub-panel="ConDatos">
        <table melemento="ConTabla" xsort-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaOrdena)" 
            xsort-current="@EV.SapGrupoTolerancia.ColOrden">
            <thead melemento="ConTablaEnc">
                <tr>
                    <th></th>
                    <th>
                        <span mhead-for="@nameof(ESapGrupoTolerancia.Activo)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapGrupoTolerancia.SapGrupoToleranciaId)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapGrupoTolerancia.SapGrupoToleranciaNombre)" xhead-sort="true"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        String vDivAcciones = "divPanelAcciones" + i.ToString();
                        <tr class="@(EV.SapGrupoTolerancia.Indice == i ? "conTablaLinSel" : null)">
                            <td nowrap>
                                <a maccion="IniciaActualiza" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaActualizaIni)" asp-route-indice="@i"></a>
                                <div msub-panel="ConAccionesXReg" id="@vDivAcciones">
                                    <a maccion="ConsultaXIdList" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaXId)" asp-route-indice="@i"></a>
                                    <a maccion="EliminaList" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaElimina)" asp-route-indice="@i"></a>
                                </div>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Activo"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapGrupoToleranciaId"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapGrupoToleranciaNombre"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div msub-panel="ConPaginador">
        <div mdata-pager="@EV.SapGrupoTolerancia.Pag?.DatPag" xdp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaPaginacion)"></div>
    </div>
    <div msub-panel="ConAccionesGen">
        <a maccion="IniciaInserta" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaInsertaIni)" asp-route-indice="-1"></a>
        &nbsp;
        <a maccion="General" asp-action="@nameof(SapGruposToleranciaController.SapGrupoToleranciaExporta)" download="" >@MMensajesXId.Exportar</a>
        &nbsp;
    </div>
</div>
