@model List<EConExpedienteObjeto>
@{
    ViewData["Title"] = "Consulta";
}
<div mpanel="Display" mpnl-mensajes="@ViewBag.Mensajes" xpnl-rules="ViewBag.Reglas">
    <div msub-panel="ConTitulo" msp-filtros="false">
        @MensajesXId._ConExpedienteObjetoTitCon
    </div>
    <div msub-panel="ConDatos">
        <table melemento="ConTabla" xsort-action="@nameof(ConExpedientesController.ConExpedienteObjetoOrdena)" xsort-current="@ViewBag.orden">
            <thead melemento="ConTablaEnc">
                <tr>
                    <th></th>
                    <th>
                        <span mhead-for="@nameof(EConExpedienteObjeto.Orden)" xhead-align="Center" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EConExpedienteObjeto.NombreArchivo)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EConExpedienteObjeto.ArchivoVencido)"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EConExpedienteObjeto.Archivo)"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EConExpedienteObjeto.FechaUltMod)" xhead-sort="true"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        String vDivAcciones = "divPanelAcciones" + i.ToString();
                        <tr class="@(ViewBag.Indice == i ? "conTablaLinSel" : null)">
                            <td nowrap>
                                <div msub-panel="ConAccionesXReg" id="@vDivAcciones">
                                    <a maccion="ConsultaXIdList" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoXId)" asp-route-indice="@i"></a>
                                    <a maccion="EliminaList" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoElimina)" asp-route-indice="@i"></a>
                                </div>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Orden" xcell-align="Center"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].NombreArchivo"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].ArchivoVencido"></span>
                            </td>
                            <td>
                                <a asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoAgregarArchivo)" asp-route-indice="@i">
                                    <span mcell-for="@Model[i].Archivo"></span>
                                </a>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].FechaUltMod" xcell-format="dd/MM/yyyy HH:mm"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div msub-panel="ConPaginador">
        <div mdata-pager="@ViewBag.DatPag" xdp-action="@nameof(ConExpedientesController.ConExpedienteObjetoPaginacion)"></div>
    </div>
    <div msub-panel="ConAccionesGen">
        <a maccion="IniciaInserta" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoInsertaIni)" asp-route-indice="-1"></a>
        &nbsp;
        <a maccion="Regresa" asp-action="@nameof(ConExpedientesController.ConExpedienteInicia)" asp-route-indice="-1"></a>
    </div>
</div>
