@model EConExpedienteObjeto

@{
    ViewData["Title"] = "Captura";
}

<form asp-action="_ConExpedienteObjetoCaptura">
    <div mpanel="Edit" mpnl-mensajes="@ViewBag.Mensajes" xpnl-rules="ViewBag.Reglas" xpnl-readonly="@ViewBag.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._ConExpedienteObjetoTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="ExpedienteObjetoId" xval-enabled="false"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <select mval="Model" xval-for="ProcesoOperativoObjetoId" xval-items="ViewBag.ProcesosOperativosObjetos"></select>
                </div>
                <div melemento="CapCol" melem-cols="6">
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="ArchivoNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoInserta)"
                    xvalidate="@nameof(EConExpedienteObjeto)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(ConExpedientesController.ConExpedienteObjetoCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
