@model List<EProcesoOperativoEst>
@{
    ViewData["Title"] = "Consulta";
}
<div mpanel="Display" mpnl-mensajes="@ViewBag.Mensajes" xpnl-rules="ViewBag.Reglas">
    <div msub-panel="ConTitulo" msp-filtros="false">
        @MensajesXId._ProcesoOperativoEstTitCon
    </div>
    <div msub-panel="ConDatos">
        <table melemento="ConTabla" xsort-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstOrdena)" xsort-current="@ViewBag.orden">
            <thead melemento="ConTablaEnc">
                <tr>
                    <th></th>
                    <th>
                        <span mhead-for="@nameof(EProcesoOperativoEst.Activo)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EProcesoOperativoEst.Orden)" xhead-align="Center" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EProcesoOperativoEst.ProcesoOperativoEstId)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EProcesoOperativoEst.EstatusNombre)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(EProcesoOperativoEst.PermiteModificar)" xhead-sort="true"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        String vDivAcciones = "divPanelAcciones" + i.ToString();
                        <tr class="@(ViewBag.Indice == i ? "conTablaLinSel" : null)">
                            <td nowrap>
                                <a maccion="IniciaActualiza" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstActualizaIni)" asp-route-indice="@i"></a>
                                <div msub-panel="ConAccionesXReg" id="@vDivAcciones">
                                    <a maccion="ConsultaXIdList" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstXId)" asp-route-indice="@i"></a>
                                    <a maccion="PorRegistroList" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstSecInicia)" asp-route-indice="@i">@MensajesXId._ProcesoOperativoEstSecInicia</a>
                                    <a maccion="EliminaList" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstElimina)" asp-route-indice="@i"></a>
                                </div>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Activo"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Orden" xcell-align="Center"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].ProcesoOperativoEstId"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].EstatusNombre"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].PermiteModificar"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div msub-panel="ConPaginador">
        <div mdata-pager="@ViewBag.DatPag" xdp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstPaginacion)"></div>
    </div>
    <div msub-panel="ConAccionesGen">
        <a maccion="IniciaInserta" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoEstInsertaIni)" asp-route-indice="-1"></a>
        &nbsp;
        <a maccion="Regresa" asp-action="@nameof(ProcesosOperativosController.ProcesoOperativoInicia)" asp-route-indice="-1"></a>
    </div>
</div>
