@model List<ESapSociedadGL>
@{
    ViewData["Title"] = "Consulta";
    EVSapSociedadesGL EV = ViewBag.EV;
}
<div mpanel="Display" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapSociedadGL.Reglas">
    <div msub-panel="ConTitulo">
        @MensajesXId._SapSociedadGLTitCon
    </div>
    <div msub-panel="ConFiltro">
        <partial name="_SapSociedadGLFiltra" model="@EV.SapSociedadGL.Filtro" view-data="ViewData" />
    </div>
    <div msub-panel="ConDatos">
        <table melemento="ConTabla" xsort-action="@nameof(SapSociedadesGLController.SapSociedadGLOrdena)" 
            xsort-current="@EV.SapSociedadGL.ColOrden">
            <thead melemento="ConTablaEnc">
                <tr>
                    <th></th>
                    <th>
                        <span mhead-for="@nameof(ESapSociedadGL.Activo)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapSociedadGL.SapSociedadGLId)" xhead-sort="true"></span>
                    </th>
                    <th>
                        <span mhead-for="@nameof(ESapSociedadGL.SapSociedadGLNombre)" xhead-sort="true"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        String vDivAcciones = "divPanelAcciones" + i.ToString();
                        <tr class="@(EV.SapSociedadGL.Indice == i ? "conTablaLinSel" : null)">
                            <td nowrap>
                                <a maccion="IniciaActualiza" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLActualizaIni)" asp-route-indice="@i"></a>
                                <div msub-panel="ConAccionesXReg" id="@vDivAcciones">
                                    <a maccion="ConsultaXIdList" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLXId)" asp-route-indice="@i"></a>
                                    <a maccion="EliminaList" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLElimina)" asp-route-indice="@i"></a>
                                </div>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].Activo"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapSociedadGLId"></span>
                            </td>
                            <td>
                                <span mcell-for="@Model[i].SapSociedadGLNombre"></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div msub-panel="ConPaginador">
        <div mdata-pager="@EV.SapSociedadGL.Pag?.DatPag" xdp-action="@nameof(SapSociedadesGLController.SapSociedadGLPaginacion)"></div>
    </div>
    <div msub-panel="ConAccionesGen">
        <a maccion="IniciaInserta" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLInsertaIni)" asp-route-indice="-1"></a>
        &nbsp;
        <a maccion="General" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLExporta)" download="" >@MMensajesXId.Exportar</a>
        &nbsp;
    </div>
</div>
