@model ESapSociedadGL

@{
    ViewData["Title"] = "Captura";
    EVSapSociedadesGL EV = ViewBag.EV;
}

<form asp-action="_SapSociedadGLCaptura">
    <div mpanel="Edit" xpnl-messages="@ViewBag.Mensajes" xpnl-rules="@EV.SapSociedadGL.Reglas" 
        xpnl-readonly="@EV.Accion == MAccionesGen.Consulta">
        <div msub-panel="CapTitulo">
            @MensajesXId._SapSociedadGLTitCap
        </div>
        <div msub-panel="CapDatos">
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="SapSociedadGLId" mval-accion="@EV.Accion"/>
                </div>
                <div melemento="CapCol" melem-cols="6">
                    <input mval="Model" xval-for="Activo"/>
                </div>
            </div>
            <div melemento="CapLin">
                <div melemento="CapCol" melem-cols="12">
                    <input mval="Model" xval-for="SapSociedadGLNombre"/>
                </div>
            </div>
        </div>
        <div msub-panel="CapAccionesGen">
            <button maccion="Guarda"
                    asp-action="@(EV.Accion == MAccionesGen.Inserta ? nameof(SapSociedadesGLController.SapSociedadGLInserta) : nameof(SapSociedadesGLController.SapSociedadGLActualiza))"
                    xvalidate="@nameof(ESapSociedadGL)"></button>
            &nbsp;
            <a maccion="Regresa" asp-action="@nameof(SapSociedadesGLController.SapSociedadGLCon)"></a>
            &nbsp;
            <div mauditoriacb="@Model"></div>
        </div>
    </div>
</form>
